{% extends "CaesarAdminBundle::layout.html.twig" %}

{% block breadCrumb%}
    {{parent()}}
    <li data-header="2" class="active"><span>Emplacements</span></li>
{% endblock %}

{% block contentTitle %}Lister les emplacements{% endblock %}

{% block contentBody %}
{% endblock %}