{% extends "CaesarAdminBundle::layout.html.twig" %}

{% block breadCrumb%}
    {{parent()}}
    <li data-header="2">
        <a href="{{path('caesar_admin_location_homepage')}}">Emplacements</a>
        <span class="divider">></span>
    </li>
    <li class="active"><span>Mise à jour</span></li>
{% endblock %}

{% block contentTitle %}
Modifier un emplacement
{% endblock %}

{% block contentBody %}
{% endblock %}