<aside id="modal">
    <header>
        <h2>{{'admin.modal.webmining.heading'|trans({})}}</h2>
    </header>
    <section>
        {{'admin.modal.webmining.no_content'|trans({})}}
    </section>
    <footer class="cf">
        <a href="#" class="btn">{{'admin.modal.webmining.close'|trans({})}}</a>
    </footer>
</aside>