{% extends "CaesarAdminBundle::layout.html.twig" %}


{% block breadCrumb%}
    {{parent()}}
    <li data-header="0">
        <a href="{{path('caesar_resource_homepage')}}">Ressources</a>
        <span class="divider">></span>
    </li>
    <li class="active"><span>Mise à jour</span></li>
{% endblock %}

{% block contentTitle %}
Modifier une ressource
{% endblock %}

{% block contentBody %}
{% endblock %}