.codeBu { 
    width:10%;
}

.login { 
    width:20%;
}

.nom { 
    width:20%;
}

.prenom { 
    width:20%;
}

.email { 
    width:20%;
}

.edit { 
    width:2%;
}

.delete { 
    width:2%;
}

img#resource-img{
    float: left;
    height: 160px;
    width: 140px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.long-description textarea {
    width: 70%;
    height: 100px;
}