html, body{
    width:100%;	
    height:100%;
    padding:0px;
    margin:0px;
    font-family: "Trebuchet MS",Helvetica,Arial,sans-serif;
}

.header{
    background-image: inherit;
    height: 5%;
}

.main-content{
    height: 95%;
    top: 5%;
}

h1 {
    color: white;
    font-size: 50px;
    position: absolute;
    text-align: center;
    width: 100%;
    font-family: "Helvetica";
}
.page{
    position:relative;
    width:100%;	
    height:100%;
}
.top {
    background-color: #505050;
    height: 45%;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.bot {
    background: url("../../../images/background.jpg") repeat scroll 0 0 transparent;
    height: 55%;
    position: absolute;
    top: 45%;
    width: 100%;
    z-index: -1;
}

.log{
    border: 2px solid white;
    border-radius: 15px 15px 15px 15px;
    margin: auto;
    min-height: 230px;
    min-width: 400px;
    padding: 10px;
    position: relative;
    top: 34%;
    width: 30%;
}

.page label{
    font-size:20px;
    color : white;
}

.page label.last {
    color: #505050;
}

input[type="text"], input[type="password"] {
    -moz-box-sizing: border-box;
    background-color: #F6F3F6;
    border: 1px solid #C5C8CB;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.09) inset;
    font-family: "Trebuchet MS",sans-serif;
    font-size: 20px;
    margin-top: 15px;
    padding: 10px 5px;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    vertical-align: middle;
    width: 97%;
    margin-bottom: 10px;
}

input[type="submit"] {
    font-family: "Trebuchet MS", sans-serif;
    min-width: 210px;
    height: 60px;
    width: 100%;
    font-size: 22px;
    cursor: pointer;
    color: #2f3235;

    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    color: #f3f3f6;
    background-color: rgb(83, 126, 192);

    background-image: -moz-linear-gradient(top,rgb(117, 163, 214),rgb(53, 86, 172));
    background-image: -webkit-gradient(linear,0 0,0 100%,from(rgb(117, 163, 214)),to(rgb(53, 86, 172)));
    background-image: -webkit-linear-gradient(top,rgb(117, 163, 214),rgb(53, 86, 172));
    background-image: -o-linear-gradient(top,rgb(117, 163, 214),rgb(53, 86, 172));
    background-image: linear-gradient(to bottom,rgb(117, 163, 214),rgb(53, 86, 172));
    background-repeat: repeat-x;
    border-color: #51a351 #51a351 #387038;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462',endColorstr='#ff51a351',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

    border: 1px solid rgb(195, 200, 205);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}

input[type="submit"]:active {
    color: #f3f3f6;
    background-color: rgb(83, 126, 192);
    background-image: -moz-linear-gradient(top,rgb(53, 86, 172),rgb(117, 163, 214));
    background-image: -webkit-gradient(linear,0 0,0 100%,from(rgb(53, 86, 172)),to(rgb(117, 163, 214)));
    background-image: -webkit-linear-gradient(top,rgb(53, 86, 172),rgb(117, 163, 214));
    background-image: -o-linear-gradient(top,rgb(53, 86, 172),rgb(117, 163, 214));
    background-image: linear-gradient(to bottom,rgb(53, 86, 172),rgb(117, 163, 214));
}