{% extends "CaesarAdminBundle::layout.html.twig" %}

{% block breadCrumb%}
    {{parent()}}
<li data-header="1" class="active"><span>Utilisateurs</span></li>
{% endblock %}

{% block contentTitle %}Lister les utilisateurs{% endblock %}

{% block contentBody %}
{% endblock %}