form {
    margin-left: 5%;
    margin-right: 5%;
}

form label {
    min-width: 200px;
    float: left;
    line-height: 35px;
}

input[type="file"] {
    height: 35px;
    font-family: "Trebuchet MS", sans-serif;
    vertical-align: middle;
    font-size: 15px;
    margin-bottom:10px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="url"],
textarea, 
select{
    height: 35px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Trebuchet MS", sans-serif;
    vertical-align: middle;
    background-color: #f6f3f6;
    border: 1px solid #c5c8cb;
    -webkit-box-shadow: inset 0 3px 3px rgba(0,0,0,0.090);
    -moz-box-shadow: inset 0 3px 3px rgba(0,0,0,0.090);
    box-shadow: inset 0 3px 3px rgba(0,0,0,0.090);
    -webkit-transition: border linear .2s,box-shadow linear .2s;
    -moz-transition: border linear .2s,box-shadow linear .2s;
    -o-transition: border linear .2s,box-shadow linear .2s;
    transition: border linear .2s,box-shadow linear .2s;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 5px;
    font-size: 15px;
    margin-bottom:10px;
}

input[type="submit"], input[type="button"] {
    padding: 10px 10px;
    height: 35px;
    margin-bottom: 10px;
    border: 1px solid #c5c8cb;
    background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* IE10+ */
    background: linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}


input[type="submit"]:hover, input[type="button"]:hover {
    background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* IE10+ */
    background: linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C */
    text-decoration: none;
}
input[type="submit"]:active, input[type="button"]:active {
    border-radius: 4px;
    border: solid 1px #203E5F;
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
}

fieldset {
    padding: 10px;
    margin-bottom: 20px;
    border-top: 1px solid #ccc;
    border-left: 0;
    border-bottom: 0;
    border-right: 0;
}

fieldset legend {
    text-align: left;
    color: #505050;
    font-size: 18px;
    padding: 0px 4px 0px 4px;
    margin-left: 20px;
}