@CHARSET "ISO-8859-1";

html {
    height: 100%;
    min-width: 640px;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/background.jpg");
}

.container {
    width: 640px;
    margin: auto;
}

.label-list {
    list-style: none;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 25px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    color: #282828;
    padding: 5px;
    text-align: left;	
}
/**
 * Titre(s)
 **/
header {
    width: 640px;
    margin: auto;
}
header h1 {
    font-size: 40px;
    font-family: "Trebuchet MS";
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    color: #282828;
    text-align: center;
}
/**
 * Navbar
 **/

.navbar {
    line-height: 52px;
    height:52px;
    background-color: #505050;
    background-image: -moz-linear-gradient(top,#606060,#404040);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#606060),to(#404040));
    background-image: -webkit-linear-gradient(top,#606060,#404040);
    background-image: -o-linear-gradient(top,#606060,#404040);
    background-image: linear-gradient(to bottom,#606060,#404040);
    background-repeat: repeat-x;
}
.right {
    float: right;
}
.left {
    float: left;
}

/**
 * El�ment d'une navbar
 **/

.nav-el {
    margin-top: 0px;
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    text-align: center;
    font-family: "Trebuchet MS", sans-serif;
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
    background-color: #303030;
    background-image: -moz-linear-gradient(top,#404040,#202020);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#404040),to(#202020));
    background-image: -webkit-linear-gradient(top,#404040,#202020);
    background-image: -o-linear-gradient(top,#404040,#202020);
    background-image: linear-gradient(to bottom,#404040,#202020);
    background-repeat: repeat-x;
}
.nav-el:hover {
    background-color: #bebebe;
    background-image: -moz-linear-gradient(top,#cecece,#aeaeae);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#cecece),to(#aeaeae));
    background-image: -webkit-linear-gradient(top,#cecece,#aeaeae);
    background-image: -o-linear-gradient(top,#cecece,#aeaeae);
    background-image: linear-gradient(to bottom,#cecece,#aeaeae);
    -webkit-transition-property: background-image;
    -webkit-transition-duration: 0.7s;
    -moz-transition-property: background-image;
    -moz-transition-duration: 0.7s;
    transition-property: background-image;
    transition-duration: 0.7s;
}

.nav-group .nav-el {
    margin-left: 0px;
    margin-right: 0px;
}
.nav-el i[class*="icon-"] {
    margin-top: 4px;
}

.nav-btn {
    padding-right: 50px;
    padding-left: 50px;
}

#user_panel {
    position: absolute;
    right: 0;
}

#user_panel .btn {
    display: block;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 18px;
    cursor: pointer;
    color: #2f3235;
    padding: 20px;
    width: 154px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    color: #f3f3f6;
    background-color: #505050;

    background-image: -moz-linear-gradient(top,#606060,#404040);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#606060),to(#404040));
    background-image: -webkit-linear-gradient(top,#606060,#404040);
    background-image: -o-linear-gradient(top,#606060,#404040);
    background-image: linear-gradient(to bottom,#606060,#404040);
    background-repeat: repeat-x;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}

#user_panel .btn:hover {
    background-color: #303030;
    background-image: -moz-linear-gradient(top,#404040,#202020);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#404040),to(#202020));
    background-image: -webkit-linear-gradient(top,#404040,#202020);
    background-image: -o-linear-gradient(top,#404040,#202020);
    background-image: linear-gradient(to bottom,#404040,#202020);
    background-repeat: repeat-x;
}


.clear {
    clear: both;
}

.resource-image, .resource-details {
    width: 45%;
}

.resource-details {
    margin-left: 15px;
}

.resource-image {
    width: 180px;
    padding: 20px 50px;
}

.consultation-div {
    margin-left: 20px;
}

.consult-title {
    padding: 5px 10px;
    outline: none;
    width: 1500px;
    background-color: #053A6C;
    color: white;
    font-weight: bold;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

a.consult-title {
    text-decoration: none;
}

.consultation-title {
    font-size: 1.5em;
}

.consultation-title, .consultation-id, .consultation-location, .consultation-quantity {
    font-weight: bold;
}

.consultation-text {
    margin-left: 100px;
}

.consultation-content-block, .consultation-text-details {
    margin-top: 15px;
    margin-left: 15px; 
}
.consultation-text-details {
    display: inline-block;
    margin-bottom: 30px;
}
