html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-size: 12pt;
}

.header {
    padding: 0 10px;
    line-height: 48px;
    height:52px;
    background-color: #505050;
    background-image: linear-gradient(to bottom, #606060, #404040);
    background-repeat: repeat-x;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear{
    clear: both;
}

.max-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

a {
    outline:0;
}

.link-button-deconnexion {
    text-decoration: none;
    padding: 10px 15px;
    width: 120px;
    text-align: center;
    background: #4479BA;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -mt-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    background-image: -webkit-linear-gradient(top,rgb(117, 163, 214),rgb(53, 86, 172));
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    border: solid 1px #505050;
    display: inline-block;
    height: 12px;
    margin-top: 9px;
    line-height: 10px;
}
.link-button-deconnexion:hover {
    background: #356094;
    border: solid 1px #2A4E77;
    text-decoration: none;
}
.link-button-deconnexion:active {
    border-radius: 4px;
    border: solid 1px #203E5F;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #2E5481;
}

.main-content {
    position: absolute;
    top: 52px;
    bottom: 0;
    left: 0;
    right: 0;
}

.content{
    height: auto;
    width: auto;
    clear: both;
    margin:0;
}

.contentBody {
    margin: auto;
}

.inline {
    display: inline;
}

label.dd-selected-text {
    line-height: 30px!important;
}

div.dd-container {
    margin-top: 10px;
    margin-right: 10px;
    float: left;
}

div.dd-container, div.dd-select {
    width: 140px!important;
    height: 30px;
    line-height: 8px;
}

div.inline div.dd-select {
    background-color: #fbfbfb!important;
    background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f5f5f5))!important;
    background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5)!important;
    background-image: -o-linear-gradient(top, #ffffff, #f5f5f5)!important;
    background-image: linear-gradient(top, #ffffff, #f5f5f5)!important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
    border: 1px solid #ddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 0 #ffffff;
    -moz-box-shadow: inset 0 1px 0 #ffffff;
    box-shadow: inset 0 1px 0 #ffffff;
}

ul.dd-options {
    width: 140px!important;
}

img.dd-selected-image {
    padding-left:5px!important;
    padding-right:5px!important;
}

img.dd-option-image, img.dd-selected-image {
    vertical-align: baseline!important;
    float: none!important;
}
a.dd-selected {
    padding: 2px;
}

div.inline > div.dd-container > ul li {
    padding: 0 10px ;
}

div.inline > div.dd-container > ul li a {
    color: #333;
    background-color: white;
    border-bottom: 1px solid #e6e8ea;
}

div.dd-container label {
    cursor: inherit;
}

div.inline > div.dd-container > ul li:last-of-type a {
    border: none;
}

/* Hover state */
div.inline > div.dd-container > ul li:hover a {
    color: #57a9d9;
    background-color: white;
}

h1, h2 {
    margin: 0;
    line-height: 40px;
    font-weight: bold;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
}

h1 {
    font-size: 38.5px;
    color: #282828;
}

.notice, .error {
    -webkit-border-radius: 8px;
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 20px;
    color: #555;
}

.flash-notice {
    background-color: #00FF66;
    margin: 10px;
    padding: 10px 20px;
    border: 3px solid rgb(87, 207, 87);
    border-radius: 5px;
}

.flash-error {
    background-color: rgb(255, 163, 163);
    margin: 10px;
    padding: 10px 20px;
    border: 3px solid rgb(255, 118, 118);
    border-radius: 5px;
}

.form-search-button {
    margin-left: 200px;
    margin-bottom: 10px;
}

@media screen and (max-width:980px) and (min-width:480px) {

}

@media screen and (max-width:480px) {

}
