{% extends "::user.html.twig" %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/caesaruser/css/Caesar_user_style.css') }}" />
{% endblock %}

{% block body %}
    {% for type, flashMessages in app.session.flashbag.all() %}
        {% for flashMessage in flashMessages %}
        <div class="flash-{{ type }}">
            {{ flashMessage|raw }}
        </div>
    {% endfor %}
    {% endfor %}
    {% block caesar_user_content %}{% endblock caesar_user_content %}

{% endblock %}