{% extends "CaesarAdminBundle::layout.html.twig" %}

{% block stylesheets %}
    {{parent()}}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/caesaradmin/css/admin.css') }}" />
{% endblock %}

{% block contentTitle %}
{{'admin.title.home'|trans({})}}
{% endblock %}

{% block contentBody %}
<!--<section class="general">
    <header>Administration générale</header>
    <ul>
        <li><a>Changer le mot de passe administrateur</a></li>
        <li><a>Désactiver le module de web mining</a></li>
    </ul>
</section>
<section class="resources">
    <header>Ressources</header>
    <ul>
        <li><a>Ajouter une ressource</a></li>
        <li><a>Lister les ressources</a></li>
        <li><a>Modifier le squelette</a></li>
    </ul>
</section>
<section class="users">
    <header>Utilisateurs</header>
    <ul>
        <li><a>Ajouter un utilisateur</a></li>
        <li><a>Lister les utilisateurs</a></li>
    </ul>
</section>
<section class="locations">
    <header>Emplacements</header>
    <ul>
        <li><a>Ajouter un emplacement</a></li>
        <li><a>Lister les emplacements</a></li>
    </ul>
</section>
<section class="borrowings">
    <header>Emprunts</header>
    <ul>
        <li><a>Lister les emprunts</a></li>
    </ul>
</section>
<section class="tags">
    <header>Tags</header>
    <ul>
        <li><a>Lister les étiquettes</a></li>
        <li><a>Générer des étiquettes</a></li>
    </ul>
</section>-->
{% endblock %}